*{
    padding: 0%;
    margin: 0%;
}
header nav{
    background-color: #6f7c81;
}
.card{
    
    justify-content: center;
    display: flex;
}

.bg-bluePersonal{
    background-color: #6f7c81;
    text-align: center;
}

form .bg-bluePersonal:hover{
    background-color: #99520f9d;

}
.itemLaranja{
    color:#221f1b ;
}
.btnCatalogo{
    background-color: #924700c7;
}
.w-100 {
    width: 100% !important;
}
